/* style.css */

body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #ffffff;
}

a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #444444;
}

li:hover {
    background-color: #333333;
}

img {
    width: 1em;
    height: 1em;
    margin-right: 10px;
}

#progress-bar {
    width: 100%;
    background-color: #444444;
}

#progress {
    width: 0%;
    height: 30px;
    background-color: #bb86fc;
}

#file-content {
    white-space: pre-wrap;
    background-color: #1e1e1e;
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 5px;
}
